<?xml version="1.0" encoding="utf-8"?>
<!-- Before deploying: set Identity Publisher to your Partner Center
     publisher identity (Project > Store > Associate App in VS). -->
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity Name="FoodFight"
            Publisher="CN=amccool"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="b64e1c2d-3f4a-4b5c-9d6e-7f8a9b0c1d2e"
                    PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>Food Fight</DisplayName>
    <PublisherDisplayName>amccool</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal"
                        MinVersion="10.0.17763.0"
                        MaxVersionTested="10.0.22621.0" />
    <TargetDeviceFamily Name="Windows.Xbox"
                        MinVersion="10.0.17763.0"
                        MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe"
                 EntryPoint="FoodFight.Uwp.Program">
      <uap:VisualElements
        DisplayName="Food Fight"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Arcade food fight - eat the cone before it melts!"
        BackgroundColor="#181A24">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
